<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hll.dao.AMenuMapper">

    <!--查询一级菜单-->
    <select id="getAll" resultType="com.hll.pojo.AMenu" parameterType="integer">
        SELECT
            c.FUN_ID id,
            c.FUN_NAME name,
            c.FUN_ICON icon
        FROM
            SYS_RIGHT a,
            SYS_ROLE_RIGHT b,
            SYS_FUN c
        WHERE
            a.RIGHT_CODE = b.RF_RIGHT_CODE
            AND a.SYS_FUN_ID = c.FUN_ID
            AND b.RF_ROLE_ID = #{rid}
        GROUP BY
            c.FUN_ID,
            c.FUN_NAME,
            c.FUN_ICON
        ORDER BY
            id ASC
    </select>
</mapper>