<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hll.dao.SysUserMapper">
  <resultMap id="BaseResultMap" type="com.hll.pojo.SysUser">
    <id column="USR_ID" jdbcType="VARCHAR" property="usrId" />
    <result column="USR_NAME" jdbcType="VARCHAR" property="usrName" />
    <result column="USR_PASSWORD" jdbcType="VARCHAR" property="usrPassword" />
    <result column="USR_ROLE_ID" jdbcType="DECIMAL" property="usrRoleId" />
    <result column="USR_FLAG" jdbcType="DECIMAL" property="usrFlag" />
    <association property="role" javaType="com.hll.pojo.SysRole">
      <id column="ROLE_ID" jdbcType="DECIMAL" property="roleId" />
      <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
      <result column="ROLE_DESC" jdbcType="VARCHAR" property="roleDesc" />
      <result column="ROLE_FLAG" jdbcType="DECIMAL" property="roleFlag" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
      and ROLE_ID=USR_ROLE_ID
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    USR_ID, USR_NAME, USR_PASSWORD, USR_ROLE_ID, USR_FLAG
  </sql>
  <select id="selectByExample" parameterType="com.hll.pojo.SysUserExample" resultMap="BaseResultMap">
    select *
    from SYS_USER,SYS_ROLE
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    order by USR_ID desc
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SYS_USER
    where USR_ID = #{usrId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SYS_USER
    where USR_ID = #{usrId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hll.pojo.SysUserExample">
    delete from SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hll.pojo.SysUser">
    insert into SYS_USER (USR_ID, USR_NAME, USR_PASSWORD, 
      USR_ROLE_ID, USR_FLAG)
    values (SYSUSER.nextval, #{usrName,jdbcType=VARCHAR}, #{usrPassword,jdbcType=VARCHAR},
      999, 0)
  </insert>
  <insert id="insertSelective" parameterType="com.hll.pojo.SysUser">
    insert into SYS_USER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="usrId != null">
        USR_ID,
      </if>
      <if test="usrName != null">
        USR_NAME,
      </if>
      <if test="usrPassword != null">
        USR_PASSWORD,
      </if>
      <if test="usrRoleId != null">
        USR_ROLE_ID,
      </if>
      <if test="usrFlag != null">
        USR_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="usrId != null">
        #{usrId,jdbcType=VARCHAR},
      </if>
      <if test="usrName != null">
        #{usrName,jdbcType=VARCHAR},
      </if>
      <if test="usrPassword != null">
        #{usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="usrRoleId != null">
        #{usrRoleId,jdbcType=DECIMAL},
      </if>
      <if test="usrFlag != null">
        #{usrFlag,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hll.pojo.SysUserExample" resultType="java.lang.Long">
    select count(*) from SYS_USER
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <!--查询指定用户的信息-->
    <select id="getUser" resultType="com.hll.pojo.SysUser" resultMap="BaseResultMap">
      SELECT *FROM SYS_USER,SYS_ROLE WHERE ROLE_ID=USR_ROLE_ID and USR_NAME=#{name}
    </select>
    <update id="updateByExampleSelective" parameterType="map">
    update SYS_USER
    <set>
      <if test="record.usrId != null">
        USR_ID = #{record.usrId,jdbcType=VARCHAR},
      </if>
      <if test="record.usrName != null">
        USR_NAME = #{record.usrName,jdbcType=VARCHAR},
      </if>
      <if test="record.usrPassword != null">
        USR_PASSWORD = #{record.usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.usrRoleId != null">
        USR_ROLE_ID = #{record.usrRoleId,jdbcType=DECIMAL},
      </if>
      <if test="record.usrFlag != null">
        USR_FLAG = #{record.usrFlag,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SYS_USER
    set USR_ID = #{record.usrId,jdbcType=VARCHAR},
      USR_NAME = #{record.usrName,jdbcType=VARCHAR},
      USR_PASSWORD = #{record.usrPassword,jdbcType=VARCHAR},
      USR_ROLE_ID = #{record.usrRoleId,jdbcType=DECIMAL},
      USR_FLAG = #{record.usrFlag,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hll.pojo.SysUser">
    update SYS_USER
    <set>
      <if test="usrName != null">
        USR_NAME = #{usrName,jdbcType=VARCHAR},
      </if>
      <if test="usrPassword != null">
        USR_PASSWORD = #{usrPassword,jdbcType=VARCHAR},
      </if>
      <if test="usrRoleId != null">
        USR_ROLE_ID = #{usrRoleId,jdbcType=DECIMAL},
      </if>
      <if test="usrFlag != null">
        USR_FLAG = #{usrFlag,jdbcType=DECIMAL},
      </if>
    </set>
    where USR_ID = #{usrId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hll.pojo.SysUser">
    update SYS_USER
    set USR_NAME = #{usrName,jdbcType=VARCHAR},
      USR_PASSWORD = #{usrPassword,jdbcType=VARCHAR},
      USR_ROLE_ID = #{usrRoleId,jdbcType=DECIMAL},
      USR_FLAG = #{usrFlag,jdbcType=DECIMAL}
    where USR_ID = #{usrId,jdbcType=VARCHAR}
  </update>
</mapper>